{% load static %}
{% static "images" as baseUrl %}



<!--change done.-->
<html>
<head>
    
    <title>Login n Registration form </title>
    <link rel="stylesheet" href="{% static 'css/loginform.css' %}">
    </head>
    <body>
        <div class="zero" style="background-image: url({% static 'images/BG4.jpg' %});">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
               <form action ="log" id="login" method="POST" class="input-group">
                {% csrf_token %}
            <input type="text" class="input-field" placeholder="user id" name="id" required>
                <input type="password" class="input-field" placeholder="user password" name ="pass"required>
               <input type="checkbox" class="checkbox"><span>Remember password</span>
               <button type="submit" class="submit-button">Log In</button>
            </form>
            <form id="register" class="input1-group" method="POST" enctype="multipart/form-data" action="new_user_register">
                {% csrf_token %}
                <!-- <input type="text" class="input-field" placeholder="Unique Identification No(UID)" required> -->
                <input name="user_name" type="text" class="input-field" placeholder="Name" required>
                <input name="user_email" type="email" class="input-field" placeholder="Email id" required>
                <label>Profile Picture :</label> 
                <span class="profile"><input name = "pro_pic" type="file" class="input-field1" accept="image/*"required><b class="size">(Max Size 2mb)</b></span>
                <input name="user_id" type="text" class="input-field" placeholder="user id" required>
                <input name="password" type="password" class="input-field" placeholder="user password" required>
               <input type="checkbox" required class="checkbox"><span class="check">I agree to terms & conditions</span>
               <button type="submit" class="submit-button">Register</button>
            </form>
        </div>
        </div>
        <script>
        
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");
        
            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            } 
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0px";
            }
           
        
        </script>
    </body>
