{% load static %}
{% static "images" as baseUrl %}

<html>
<head>
    
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div class="zero" style="background-image: url({% static 'images/BG4.jpg' %});">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
            <button type="button" class="toggle-btn">Log in</button>
            
                
            </div>
            <label style="color: red;padding-left: 20px;position: absolute;top: 30%;">*You have Entered wrong Credentials.</label>
            <form id="login" class="input-group" method="POST" action="stationlogcredentials">
                {% csrf_token %}
                <input name="uname" type="text" class="input-field" placeholder="user id" required>
                <input name="pass" type="password" class="input-field" placeholder="user password" required>
               <input type="checkbox" class="checkbox"><span>Remember password</span>
               <button type="submit" class="submit-button">Log In</button>
            </form>
            
        </div>
        </div>
        <script>
        