{% load static %}
{% static "images" as baseUrl %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png'%}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Welcome
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static '/assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/demo/demo.css'%}" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
     
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          User Profile
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-img" style="margin-left: 47px;">
            <a href="#pablo">
              <img height ="100px" style="border-radius: 13px;" width="100px" class="img" src="{{u.profile_pic.url}}" >
            </a>
          </li>
          <li class="nav-item">
            <b class="nav-link">
              <i class="material-icons"></i>
              <p style="font-size: 1.5rem;text-align: center;text-decoration: solid;text-transform: capitalize;">{{u.name}}</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="./Userlogin.html">
              <i class="material-icons">content_paste</i>
              <p>Book Tickets</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Station-list.html">
              <i class="material-icons">location_ons</i>
              <p>Booking History </p>
            </a>
          </li>
       
          <li class="nav-item ">
            <a class="nav-link" href="./logout.html">
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>
   
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Ticket Booking</a>
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Book Tickets</h4>
                  <p class="card-category">Enter Passenger Details for Booking Tickets.</p>
                </div>
                <div class="card-body">
                  <form id="passenger_details_form" class="needs-validation" action="passenger_details" novalidate method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="passengerdetail">

                      <div class="row" style="margin-bottom: 30px;">
                        <div>
                          <div>
                            <label style="padding-right: 15px;padding-left: 15px;">Select Train :</label> 
                            <span><select id="train" style="display: inline-block;border-radius: 10px;font-size: 0.8rem;width :15rem;
                            padding: 5px 8px;margin-bottom: 10px;color: rgb(34, 5, 5);">
                              <option value="none" selected disabled hidden>
                                Select Train
                              </option> 
                              {% for i in t %}
                              <option value="{{i.trainno}}">{{i.trainno}} - {{i.fromstation}} - {{i.tostation}}</option>
                              {% endfor %}
                              
                            </select></span>
                          </div>
                        </div>

                        
                      </div>


                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                          <!----> <label class="bmd-label-floating">Name :</label> 
                            <input type="text" id="name" class="form-control" >
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="bmd-label-floating">Age :</label>
                            <input type="text" id="age" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">UID No :</label>
                            <input type="email" id="uid" class="form-control">
                          </div>
                        </div>
                      </div>

                      



                      <div class="row">
                        <div>
                          <div>
                            <label style="padding-right: 15px;padding-left: 15px;">Face Image :</label>
                            <span><input type="file" id="image" style="content: 'files';width :15rem;
                              display: inline-block;
                              background: linear-gradient(top, #f9f9f9, #e3e3e3);
                              border: 1px solid #999;
                              border-radius: 10px;
                              padding: 5px 8px;
                              outline: none;
                              white-space: nowrap;
                              font-weight: 700;
                              font-size: 10pt;" accept="image/*"></span>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                      
            
                      
                      <button type="submit" id="submit_passenger_details" style="margin-top: 30px;margin-left: 10px;" class="btn btn-primary pull-right">Book Tickets</button>
                      <button type="button" style="margin-top: 30px;margin-right: 10px" class="btn btn-primary pull-right add">Add Passenger</button>
                      <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> 

      

      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Smart Verification Of Passengers Using AI
                </a>
              </li>
   
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
    <!-- copy 1 -->
    <div class="passengerdetailCopy" style="display: none;">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-5">
          <div class="form-group">
          <!----> <label class="bmd-label-floating">Name :</label> 
            <input type="text" id="name1" class="form-control" >
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">Age :</label>
            <input type="text" id="age1" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">UID No :</label>
            <input type="email" id="uid1" class="form-control">
          </div>
        </div>
      </div>
  
  
  
      <div class="row">
        <div>
          <div>
            <label style="padding-right: 15px;padding-left: 15px;">Face Image :</label>
            <span><input type="file" id="image1" style="content: 'files';width :15rem;
              display: inline-block;
              background: linear-gradient(top, #f9f9f9, #e3e3e3);
              border: 1px solid #999;
              border-radius: 10px;
              padding: 5px 8px;
              outline: none;
              white-space: nowrap;
              font-weight: 700;
              font-size: 10pt;" accept="image/*"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

    <!-- copy 2 -->
    <div class="passengerdetailCopy2" style="display: none;">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-5">
          <div class="form-group">
          <!----> <label class="bmd-label-floating">Name :</label> 
            <input type="text" id="name2" class="form-control" >
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">Age :</label>
            <input type="text" id="age2" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">UID No :</label>
            <input type="email" id="uid2" class="form-control">
          </div>
        </div>
      </div>
  
  
  
      <div class="row">
        <div>
          <div>
            <label style="padding-right: 15px;padding-left: 15px;">Face Image :</label>
            <span><input type="file" id="image2" style="content: 'files';width :15rem;
              display: inline-block;
              background: linear-gradient(top, #f9f9f9, #e3e3e3);
              border: 1px solid #999;
              border-radius: 10px;
              padding: 5px 8px;
              outline: none;
              white-space: nowrap;
              font-weight: 700;
              font-size: 10pt;" accept="image/*"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

    
    
  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.min.js'%}"></script>
  <script src="{% static '/assets/js/core/popper.min.js'%}"></script>
  <script src="{% static '/assets/js/core/bootstrap-material-design.min.js'%}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js'%}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static '/assets/js/plugins/chartist.min.js'%}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js'%}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/material-dashboard.js'%}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static '/assets/demo/demo.js'%}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        maxPass = 3;

        var x = 1;
        $(".add").click(function(){
          if(x < maxPass){
            x++;
            event.preventDefault();
            if(x == 2){
              var fieldHTML = '<div class="passengerdetail">'+$(".passengerdetailCopy").html()+'</div>';
              $('body').find('.passengerdetail:last').after(fieldHTML);
            }
            if(x == 3){
              var fieldHTML = '<div class="passengerdetail">'+$(".passengerdetailCopy2").html()+'</div>';
              $('body').find('.passengerdetail:last').after(fieldHTML);
            }
          }else{
              alert('Maximum '+maxPass+' Passengers are allowed.');
          }
        });

        $("body").on("click",".remove",function(){ 
          $(this).parents(".passengerdetailCopy").remove();
        });

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $(document).on('submit','#passenger_details_form',function(e) {
          event.preventDefault();
          event.stopPropagation();
          alert('clicked');
          var fileForm = new FormData();
          var form = $(this);
          if(x == 1){
            fileForm.append('csrfmiddlewaretoken',$('input[name=csrfmiddlewaretoken]').val());
            fileForm.append('dataType', 'passenger_details');
            fileForm.append('max', x);
            fileForm.append('train', $(form).find('#train').val())
            fileForm.append('name', $(form).find('#name').val());
            fileForm.append('age', $(form).find('#age').val());
            fileForm.append('uid', $(form).find('#uid').val());
            fileForm.append('faceImage', $(form).find('#image').prop('files')[0]);
          }
          if(x == 2){
            fileForm.append('csrfmiddlewaretoken',$('input[name=csrfmiddlewaretoken]').val());
            fileForm.append('dataType', 'passenger_details');
            fileForm.append('max', x);
            fileForm.append('train', $(form).find('#train').val())
            fileForm.append('name', $(form).find('#name').val());
            fileForm.append('age', $(form).find('#age').val());
            fileForm.append('uid', $(form).find('#uid').val());
            fileForm.append('faceImage', $(form).find('#image').prop('files')[0]);
            fileForm.append('name1', $(form).find('#name1').val());
            fileForm.append('age1', $(form).find('#age1').val());
            fileForm.append('uid1', $(form).find('#uid1').val());
            fileForm.append('faceImage1', $(form).find('#image1').prop('files')[0]);
          }
          if(x == 3){
            fileForm.append('csrfmiddlewaretoken',$('input[name=csrfmiddlewaretoken]').val());
            fileForm.append('dataType', 'passenger_details');
            fileForm.append('max', x);
            fileForm.append('train', $(form).find('#train').val())
            fileForm.append('name', $(form).find('#name').val());
            fileForm.append('age', $(form).find('#age').val());
            fileForm.append('uid', $(form).find('#uid').val());
            fileForm.append('faceImage', $(form).find('#image').prop('files')[0]);
            fileForm.append('name1', $(form).find('#name1').val());
            fileForm.append('age1', $(form).find('#age1').val());
            fileForm.append('uid1', $(form).find('#uid1').val());
            fileForm.append('faceImage1', $(form).find('#image1').prop('files')[0]);
            fileForm.append('name2', $(form).find('#name2').val());
            fileForm.append('age2', $(form).find('#age2').val());
            fileForm.append('uid2', $(form).find('#uid2').val());
            fileForm.append('faceImage2', $(form).find('#image2').prop('files')[0]);
          }
          $.ajax({
              type:'POST',
              url:'passenger_details',
              data:fileForm,
              contentType: false, // NEEDED, DON'T OMIT THIS (requires in jQuery 1.6+)
              processData: false, // NEEDED, DON'T OMIT THIS
              cache: false,
          })
          
      });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>